<body>
  <div class="page-header">
    <h1>About Voices</h1>
  </div>  
    <ul class="about-list">
      <li>Voices is a tool to increase political participation</li>
      <li>We are <strong>NOT</strong> trying to make any money</li>
    </ul>
</body>