 $font-family-sans-serif: 'Muli', !default;
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

 
 /* home page */
 
 body {
  padding-top: 120px;
  
 }

 .navbar-brand {
  padding-top: 15px;
 }
 
 .navbar-default {
  padding-top: 15px;
  border-color: transparent;
  background-color: #FF8005;
 }

 #logo { 
  float: left;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 3.0em;
  &:hover {
  color: #454545;
  text-decoration: none;
  }
 }
 
 /* nav links navbar */
 .navbar-default .nav li a{
  color: white;
  text-decoration: none;
 }
 
 .navbar-default .nav li a:hover{
  color: #b2b2b2;
 }
 
 .home-row {
  padding-top: 30px;
 }
 
 /* homepage jumbotron */
 
 
 .jumbotron {
  background-image: image-url("cream_pixels.png");;
 }
 
 .app_badge {
  padding-top: 15px;
 }
 
 

/* forms */

.signup-form {
 color: black;
}

#error_explanation {
 color: red;
 ul {
    color: red;
    margin: 0 0 30px 0;
 }
}

.field_with_errors {
 @extend .has-error;
 .form-control {
  color: $state-danger-text;
 }
}

.my-btn {
 //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
 @include button-variant(white, #FF9937, #FF8005);
}

.search-btn {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
 @include button-variant(white, black, black);
}

.page-header {
 border-color: #FF8005 ;
}

ul.about-list {
 font-size: 125%;
}
