 $font-family-sans-serif: 'Muli', !default;
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

 
 /* home page */
 
 .navbar-default {
  border-color: transparent;
  background-color: #FF8005;
  border-radius: 0px;
 }

 #logo { 
  float: left;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  &:hover {
  color: #454545;
  text-decoration: none;
  }
 }
 
 /* nav links navbar */
 .navbar-default .nav li a{
  color: white;
  text-decoration: none;
 }
 
 .navbar-default .nav li a:hover{
  color: #b2b2b2;
 }
 
 .home-row {
  padding-top: 30px;
 }
 
 /* homepage jumbotron */
 
 
 .jumbotron {
  background-color: #fff;
  border-bottom: 4px solid #FF8005;
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
  padding-bottom: 12px;
  padding-top: 12px;
 }
 
 .app_badge {
  padding-top: 15px;
 }
 
 

/* forms */

.signup-form {
 color: black;
}

#error_explanation {
 color: red;
 ul {
    color: red;
    margin: 0 0 30px 0;
 }
}

.field_with_errors {
 @extend .has-error;
 .form-control {
  color: $state-danger-text;
 }
}

.my-btn {
 //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
 @include button-variant(white, #FF9937, #FF8005);
 transition: 300ms ease-in-out;
}

.page-header {
 border-color: #FF8005 ;
}

ul.about-list {
 font-size: 125%;
}

/* representatives */

.city-state {
  display: none;
}

.rep-portrait {
  width: 200px;
  transition: transform 300ms ease-in-out;
}

.representatives {
  padding-top: 20px;
  margin-bottom: 10px;
  display: none;
  
}

.rep-portrait:hover {
  transform: scale(1.05, 1.05);
}

.rep-title {
  padding-top: 15px;
  padding-bottom: 15px;
  /*box-shadow: 0px 5px 5px -5px gray;*/
}

.republican-shadow {
  box-shadow: 0px 5px 5px -5px red;
}

.democrat-shadow {
  box-shadow: 0px 5px 5px -5px blue; 
}

.contact-link {
  padding-right: 5px;
}
