<header class="navbar navbar-fixed-top navbar-default">
    <span class="navbar-brand"><%= link_to "VOICES", root_path, id: "logo" %> </span>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Will it work?", "#" %> </li>
        </ul>
      </nav>
</header>